* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #16161b;
    color: #FAFAFA;
    overflow: hidden;
}

header {
    background-color: transparent; /* Tornar o navbar transparente */
    position: absolute; /* Colocar o navbar em uma posição absoluta */
    width: 100%; /* Largura total */
    z-index: 1; /* Sobrepor ao conteúdo da seção hero */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #FAFAFA;
    position: relative; /* Para posicionar o indicador */
}

/* Estilo do indicador */
nav a.current::after {
    content: '';
    position: absolute;
    bottom: 0; /* Posição do sublinhado */
    left: 0;
    width: 100%;
    height: 2px; /* Altura do sublinhado */
    background-color: #FFC500; /* Cor do sublinhado */
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    transform: scaleX(0); /* Inicialmente, o indicador está invisível */
}

/* Quando passar o mouse sobre um link, expanda o indicador */
nav a:hover::after {
    transform: scaleX(1); /* Expandir o indicador */
}

.brand {
    font-size: 24px;
    font-weight: bold;
}
.scroll-to-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFC500;
    color: #2D2D37;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.scroll-to-bottom:hover {
    background-color: #FFD700;
}

.scroll-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #FFC500;
    color: #2D2D37;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.scroll-to-top:hover {
    background-color: #FFD700;
}

.social-icons a {
    color: #FAFAFA;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

#personal-trainers {
    padding: 40px 0;
    background-color: #16161b;
}

#personal-trainers h1 {
    text-align: center;
    font-size: 40px;
}

.personal-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.personal-info {
    flex: 0 0 calc(33.333% - 20px); /* Ajuste o tamanho de cada personal trainer card conforme necessário */
    padding: 20px;
    margin: 10px;
    background-color: #2D2D37;
    text-align: center;
    border-radius: 5px;
}

.personal-info img {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}

.btn {
    background-color: #FFC500;
    color: #2D2D37;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #FFD700;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .personal-info {
        flex: 0 0 calc(50% - 20px); /* Reduz o tamanho para 50% em telas menores */
    }
}
